<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.name }}{% if page.title %} - {% endif %}{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--[if lt IE 9]>
           <script>
              document.createElement('nav');
              document.createElement('header');
              document.createElement('section');
              document.createElement('footer');
              document.createElement('article');
              document.createElement('time');
           </script>
        <![endif]-->

        <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="/assets/styles/main.css">
        <link rel="stylesheet" href="/assets/styles/smfgrid.css">
        <link rel="stylesheet" href="/assets/styles/syntax.css">

    </head>
    <body>
      <div class="site-navigation">
        <section class="navigation-list">
         <h4 class="navigation-list__title">Javascript</h4>
         <a href="javascript:;" class="navigation-item">Patterns</a>
         <a href="javascript:;" class="navigation-item">Polyfills</a>
        </section>
        <section class="navigation-list">
         <h4 class="navigation-list__title">HTML</h4>
         <a href="/html/html5/" class="navigation-item">HTML5</a>
         <a href="javascript:;" class="navigation-item">Semantics</a>
        </section> 
        <section class="navigation-list">
         <h4 class="navigation-list__title">CSS</h4>
         <a href="/css/css3/" class="navigation-item">CSS3</a>
         <a href="javascript:;" class="navigation-item">Patterns</a>
         <a href="javascript:;" class="navigation-item">LESS</a>
         <a href="javascript:;" class="navigation-item">Performance</a>
        </section>
        <section class="navigation-list">
         <h4 class="navigation-list__title">RWD</h4>
         <a href="javascript:;" class="navigation-item">Basic</a>
         <a href="javascript:;" class="navigation-item">Patterns</a>
         <a href="javascript:;" class="navigation-item">Images</a>
        </section>
      </div>
      <div class="site-content">
        {{ content }}
      </div>
    </body>
  </html>